@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100..900&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1100;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

nav .img img {
  width: 150px;
}

nav ul li a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #191919;
  font-weight: 600;
  padding: 8px 0;
  transition: all;
  transition-duration: 300ms;
  border-bottom: 1px solid rgba(255, 68, 0, 0);
}

nav ul li a:hover {
  color: orangered;
  border-bottom: 2px solid orangered;
}

.menu-icon {
  /* background-color: tomato; */
  font-size: 28px;
  display: none;
}

@media only screen and (max-width: 768px) {
  nav{
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    top: 0;
  }
  nav ul {
    /* display: none; */
    flex-direction: column;
    width: 100%;
  }
  nav ul li:last-of-type{
    padding-bottom: 8px;
  }
  nav ul.hidden{
    display: none;
  }
  .menu-icon {
    display: flex;
    align-items: center;
  }
}

body{
  height: 100vh;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background: rgb(241, 239, 239);
}

.container {
  position: relative;
  width: 100%;
  margin-bottom: 50px;
  overflow: hidden;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 80px 0; /* Tambahkan padding jika perlu */
  margin-bottom: 100px;
}

.slider{
  position: absolute;
  inset: 80px 200px 80px 80px;
  background: #ccc;
  border-radius: 20px;
}
.slider .slides{
  position: absolute;
  width: 240px;
  height: 320px;
  top: 50%;
  transform: translateY(-50%);
  background: var(--img);
  background-size: cover;
  background-position: center;
  transition: 0.5s;
  border-radius: 20px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.slider .slides:nth-child(1),
.slider .slides:nth-child(2){
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(0);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0);
  background-size: cover;
}
.slider .slides:nth-child(3){
  left: calc(50% + 240px);
  background-size: cover;
}
.slider .slides:nth-child(4){
  left: calc(50% + 500px);
  background-size: cover;
}
.slider .slides:nth-child(5){
  left: calc(50% + 760px);
  background-size: cover;
}
.slider .slides:nth-child(6){
  left: calc(50% + 1020px);
  background-size: cover;
  opacity: 0;
}
.buttons{
  position: absolute;
  bottom: 15px;
  display: flex;
  gap: 20px;
}
.buttons span{
  position: relative;
  width: 50px;
  height: 50px;
  background: #111;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.buttons span::before{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-top: 4px solid #fff;
  border-left: 4px solid #fff;
  transform: rotate(315deg) translate(2px,2px);
}
.buttons span:nth-child(2)::before{
  transform: rotate(135deg) translate(2px, 2px);
}
.buttons span:active{
  opacity: 0.5;
}

.content{
  position: relative;
  padding: 40px;
  max-width: 600px;
  transition: 0.25s;
  transition-delay: 0s;
  transform: translateY(40px);
  z-index: 10000;
  opacity: 0;
}
.content h2{
  font-size: 4em;
  color: #fff;
}
.content p{
  color: #fff;
}
.slider .slides:nth-child(1) .content,
.slider .slides:nth-child(2) .content{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.5s;
}

@media (max-width: 900px){
  .slider{
      position: absolute;
      inset: 40px 40px 200px 40px;
  }
  .slider .slides{
      width: 100px;
      height: 100px;
      top: initial;
      bottom: -170px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  }

  .slider .slides .content h2{
    font-size: xx-large;
  }
  .slider .slides:nth-child(1),
  .slider .slides:nth-child(2){
      top: initial;
      bottom: 0px;
  }
  .slider .slides:nth-child(3){
      left: 0;
  }
  .slider .slides:nth-child(4){
      left: 120px;
  }
  .slides:nth-child(5){
      left: 240px;
  }
  .slides:nth-child(6){
      left: 360px;
  }
}

@media (max-width: 810px){
  .slider{
      position: absolute;
      inset: 20px 20px 100px 20px;
      margin-top: 100px;
      margin-bottom: 100px;
  }
  .slider .slides{
      width: 100px;
      height: 100px;
      top: initial;
      bottom: -170px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  }
  .slider .slides:nth-child(1),
  .slider .slides:nth-child(2){
      top: initial;
      bottom: 0px;
  }
  .slider .slides:nth-child(3){
      left: 0;
  }
  .slider .slides:nth-child(4){
      left: 120px;
  }
  .slides:nth-child(5){
      left: 240px;
  }
  .slides:nth-child(6){
      left: 360px;
  }
}

.judul-grid h2{
  text-align: center;
  font-size: 4vw;
}

/* grid content */
.card-wrapper{
  max-width: 1100px;
  margin: 0 60px 35px;
  padding: 20px 10px;
  overflow: hidden;
}

.badan{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(#ECEFFE #CED6FB);
}

.card-list .card-item{
  list-style: none;
}

.card-list .card-item .card-link{
  user-select: none;
  display: block;
  background: #fff;
  padding: 18px;
  border-radius: 12px;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease;
}

.card-list .card-item .card-link:active{
  cursor: grabbing;
}

.card-list .card-item .card-link:hover{
  border-color: #5372F0;
}

.card-list .card-link .card-image{
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 10px;
}

.card-list .card-link .badge{
  color: #5372F0;
  padding: 8px 16px;
  font-size: 0.95rem;
  font-weight: 500;
  margin: 16px 0 18px;
  background: #DDE4FF;
  width: fit-content;
  border-radius: 50px;
}

.card-list .card-link .badge.designer{
  color: #B22485;
  background: #F7DFF5;
}
.card-list .card-link .badge.marketer{
  color: #B25A2B;
  background: #FFE3D2;
}
.card-list .card-link .badge.gamer{
  color: #205C20;
  background: #D6F8D6;
}
.card-list .card-link .badge.editor{
  color: #856404;
  background: #fff3cd;
}

.card-list .card-link .card-title{
  font-size: 1.19rem;
  color: #000;
  font-weight: 600;
}

.card-list .card-link .card-button{
  height: 35px;
  width: 35px;
  color: #5372F0;
  border-radius: 50%;
  margin: 30px 0 5px;
  background: none;
  cursor: pointer;
  border: 2px solid #5372F0;
  transform: rotate(-45deg);
  transition: 0.4s ease;
}

.card-list .card-link:hover .card-button{
  color: #fff;
  background: #5372F0;
}

.card-wrapper .swiper-pagination-bullet{
  height: 13px;
  width: 13px;
  opacity: 0.5;
  background: #5372F0;
}

.card-wrapper .swiper-pagination-bullet-active{
  opacity: 1;
}

.card-wrapper .swiper-slide-button{
  color: #5372F0;
  margin-top: -35px;
}

@media screen and (max-width: 768px){
  .card-wrapper{
      margin: 0 10px 25px;
  }
  .card-wrapper .swiper-slide-button{
      display: none;
  }
}
/* Akhir Card */

#contact {
  background: rgb(241, 239, 239);
  margin-top: 20px;
  padding: 50px 20px;
}

.section-contact{
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.section-contact h1 {
  font-size: 36px; /* Ukuran besar untuk heading utama */
  font-weight: bold;
  color: #333; /* Warna teks abu-abu tua */
  margin: 0;
}

.container2 {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.contact-info,
.contact-form,
.map {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-info h2,
.contact-form h2 {
  margin-bottom: 15px;
}

.contact-info ul {
  list-style: none;
  padding: 0;
}

.contact-info ul li {
  margin-bottom: 10px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  background: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.contact-form button:hover {
  background: #0056b3;
}

.map iframe {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

footer{
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
}

footer .social-icon,
footer .menu{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer .social-icon li, footer .menu li{
  list-style: none;
}

footer .social-icon li a{
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social-icon li a:hover{
  transform: translateY(-10px);
}

footer .menu li a{
  font-size: 1.2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
}

footer .menu li a:hover{
  opacity: 1;
}

footer p{
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

footer .wave{
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background:  url('img/wave.png');
  background-size: 1000px 100px;
}

footer .wave#wave1{
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}
footer .wave#wave2{
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3{
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}
footer .wave#wave4{
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave{
  0%{
      background-position-x: 1000px;
  }
  100%{
      background-position-x: 0px;
  }
}

@keyframes animateWave_02{
  0%{
      background-position-x: 0px;
  }
  100%{
      background-position-x: 1000px;
  }
}