@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background: #f3f4f6;
  height: 100vh; /* Pastikan tinggi halaman penuh */
}
nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1100;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

nav .img img {
  width: 150px;
}

nav ul li a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #191919;
  font-weight: 600;
  padding: 8px 0;
  transition: all;
  transition-duration: 300ms;
  border-bottom: 1px solid rgba(255, 68, 0, 0);
}

nav ul li a:hover {
  color: orangered;
  border-bottom: 2px solid orangered;
}

.menu-icon {
  /* background-color: tomato; */
  font-size: 28px;
  display: none;
}

@media only screen and (max-width: 768px) {
  nav{
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    top: 0;
  }
  nav ul {
    /* display: none; */
    flex-direction: column;
    width: 100%;
  }
  nav ul li:last-of-type{
    padding-bottom: 8px;
  }
  nav ul.hidden{
    display: none;
  }
  .menu-icon {
    display: flex;
    align-items: center;
  }
}

.badans {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150vh;
  background-color: #f4f4f4;
  padding: 20px;
}
.slider-wrapper {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.slider-container {
  width: 60%;
  max-width: 400px;
  overflow: hidden;
  position: relative;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.card {
  min-width: 100%;
  text-align: center;
  padding: 10px;
}
.card img {
  width: 100%;
  height: auto;
  max-width: 400px;
  border-radius: 8px;
}
.card-content {
  padding: 10px;
}

.card-content p{
  text-align: justify;
}
.slider-buttons {
  visibility: hidden;
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}
.slider-buttons button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 50%;
}

/* .donloth{
  margin-top: 20px;
} */

.btn{
display: inline-block;
padding: 8px 16px;
background-color: #333;
text-decoration: none;
border-radius: 4px;
margin-top: 16px;
color: #fff;
}

/* Media Queries untuk responsivitas */

@media (max-width: 400px){
  .badans{

  }
}

@media (max-width: 950px){
  .badans{
    height: 70vh;
  }
}

@media (max-width: 550px){
.slider-wrapper{
  margin-top: 1000px;
}
}


@media (max-width: 855px){
  .badans{
    height: 120vh;
  }
  .slider-wrapper{
    margin-top: 170px;
  }
  .slide-container{
    margin-bottom: 00px;
  }
}


@media (max-width: 770px) {
  .badans{
      height: 80vh;
  }
  .slider-container {
      width: 80%;
      max-width: 320px;
  }
}

@media (max-width: 480px) {
  .badans{
    height: 140vh;
  }
  .slider-wrapper{
    /* padding-top: 700px; */
    margin-top: 1000px;
    margin-bottom: 900px;
  }
  .card-content p{
    font-size: 10px;
  }
  .slider-container {
      width: 100%;
      max-width: 300px;
  }

  .slider-buttons button {
      padding: 6px;
  }

  .card img {
      max-width: 300px;
  }
}



footer{
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
}

footer .social-icon,
footer .menu{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer .social-icon li, footer .menu li{
  list-style: none;
}

footer .social-icon li a{
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social-icon li a:hover{
  transform: translateY(-10px);
}

footer .menu li a{
  font-size: 1.2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
}

footer .menu li a:hover{
  opacity: 1;
}

footer p{
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

footer .wave{
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background:  url('img/wave.png');
  background-size: 1000px 100px;
}

footer .wave#wave1{
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}
footer .wave#wave2{
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3{
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}
footer .wave#wave4{
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave{
  0%{
      background-position-x: 1000px;
  }
  100%{
      background-position-x: 0px;
  }
}

@keyframes animateWave_02{
  0%{
      background-position-x: 0px;
  }
  100%{
      background-position-x: 1000px;
  }
}
